<div class="content pt-0">

  <div class="card-body">
    <!-- Directory -->
    <div class="text-center mb-3 py-2">
      <h4 class="font-weight-semibold mb-1">Các bài hướng dẫn</h4>
      <span class="text-muted d-block">Link gốc: <a href="https://angular.io/docs">https://angular.io/docs</a>, Tài liệu đọc hiểu cơ bản về angular 10</span>
    </div>

    <div class="card">
      <div class="card-header header-elements-inline">
        <h6 class="card-title">Danh sách bài hướng dẫn</h6>
        <div class="list-icons">
          <a class="list-icons-item" data-action="collapse"></a>
        </div>
      </div>

      <div class="card-body">
        <div class="row">
          <div class="col-md-4">
            <div class="mb-3">
              <h6 class="font-weight-semibold mt-2"><i class="icon-folder6 mr-2"></i> Cơ Bản <span
                  class="ml-1">(10)</span></h6>
              <div class="dropdown-divider mb-2"></div>
              <a href="https://github.com/angular-vietnam/100-days-of-angular/blob/master/Day001-Installation.md" class="dropdown-item">
                <i class="icon-file-text2"></i> B1: PREPARE THE WORKING ENVIRONMENT
              </a>
              <a href="https://github.com/angular-vietnam/100-days-of-angular/blob/master/Day002-AngularApp.md" class="dropdown-item">
                <i class="icon-file-text2"></i> B2: EXPLORE ANGULAR APP
              </a>
              <a href="https://github.com/angular-vietnam/100-days-of-angular/blob/master/Day003-DataBinding.md" class="dropdown-item">
                <i class="icon-file-text2"></i> B3: ANGULAR DATA BINDING
              </a>
              <a href="https://github.com/angular-vietnam/100-days-of-angular/blob/master/Day004-Structure-Directive-If-Else.md" class="dropdown-item">
                <i class="icon-file-text2"></i> B4: ANGULAR STRUCTURE DIRECTIVE - NGIF
              </a>
              <a href="https://github.com/angular-vietnam/100-days-of-angular/blob/master/Day005-Structure-Directive-NgFor.md" class="dropdown-item">
                <i class="icon-file-text2"></i> B5: ANGULAR STRUCTURE DIRECTIVE NGFOROF
              </a>
              <a href="https://github.com/angular-vietnam/100-days-of-angular/blob/master/Day006-Attribute-Directive-Class-Style.md" class="dropdown-item">
                <i class="icon-file-text2"></i> B6: ATTRIBUTE DIRECTIVE
              </a>
              <a href="https://github.com/angular-vietnam/100-days-of-angular/blob/master/Day007-Component-Interaction-01.md" class="dropdown-item">
                <i class="icon-file-text2"></i> B7: COMPONENT INTERACTION - PASS DATA FROM PARENT TO CHILD WITH INPUT BINDING
              </a>
              <a href="https://github.com/angular-vietnam/100-days-of-angular/blob/master/Day008-Component-Interaction-02.md" class="dropdown-item">
                <i class="icon-file-text2"></i> B8: COMPONENT INTERACTION - PARENT LISTENS FOR CHILD EVENT
              </a>
              <a href="https://github.com/angular-vietnam/100-days-of-angular/blob/master/Day009-two-way-binding.md" class="dropdown-item">
                <i class="icon-file-text2"></i> B9: Custom Two-way binding
              </a>
              <a href="https://github.com/angular-vietnam/100-days-of-angular/blob/master/Day010-template-variable-viewchild-viewchildren.md" class="dropdown-item">
                <i class="icon-file-text2"></i> B10: Template Variable và ViewChild/ViewChildren
              </a>
              <!-- <a href="#" class="dropdown-item">
                <i class="icon-arrow-right22"></i> Show all articles (93)
              </a> -->
            </div>
          </div>

          <div class="col-md-4">
            <div class="mb-3">
              <h6 class="font-weight-semibold mt-2"><i class="icon-folder6 mr-2"></i> Nâng Cao <span
                  class="ml-1">(10)</span></h6>
              <div class="dropdown-divider mb-2"></div>
              <a href="https://github.com/angular-vietnam/100-days-of-angular/blob/master/Day011-typescript-data-type.md" class="dropdown-item">
                <i class="icon-file-text2"></i> B11: TypeScript Data Type
              </a>

              <a href="https://github.com/angular-vietnam/100-days-of-angular/blob/master/Day012-typescript-advanced-type.md" class="dropdown-item">
                <i class="icon-file-text2"></i> B12: TypeScript Advanced Type
              </a>

              <a href="https://github.com/angular-vietnam/100-days-of-angular/blob/master/Day013-content-projection-in-angular.md" class="dropdown-item">
                <i class="icon-file-text2"></i> B13: Content Projection trong Angular
              </a>

              <a href="https://github.com/angular-vietnam/100-days-of-angular/blob/master/Day014-ng-template-ng-template-outlet-ng-container.md" class="dropdown-item">
                <i class="icon-file-text2"></i> B14: ng-template, ngTemplateOutlet và ng-container trong Angular
              </a>

              <a href="https://github.com/angular-vietnam/100-days-of-angular/blob/master/Day015-introduction-dependency-injection-in-angular.md" class="dropdown-item">
                <i class="icon-file-text2"></i> B15: Introduction to Dependency Injection in Angular
              </a>
              <a href="https://github.com/angular-vietnam/100-days-of-angular/blob/master/Day016-dependency-injection-in-angular-part-2.md" class="dropdown-item">
                <i class="icon-file-text2"></i> B16: Dependency Injection trong Ứng Dụng Angular
              </a>
              <a href="https://github.com/angular-vietnam/100-days-of-angular/blob/master/Day017-contentchild-contentchildren.md" class="dropdown-item">
                <i class="icon-file-text2"></i> B17: ContentChild và ContentChildren trong Angular
              </a>
              <a href="https://github.com/angular-vietnam/100-days-of-angular/blob/master/Day018-pipes.md" class="dropdown-item">
                <i class="icon-file-text2"></i> B18: Transform data with Angular Pipes
              </a>
              <a href="https://github.com/angular-vietnam/100-days-of-angular/blob/master/Day019-intro-rxjs-observable.md" class="dropdown-item">
                <i class="icon-file-text2"></i> B19: Giới thiệu Reactive Programming, RxJS và Observable
              </a>
              <a href="https://github.com/angular-vietnam/100-days-of-angular/blob/master/Day020-rxjs-creation.md" class="dropdown-item">
                <i class="icon-file-text2"></i> B20: RxJS Creation Operators
              </a>
            </div>
          </div>

          <div class="col-md-4">
            <div class="mb-3">
              <h6 class="font-weight-semibold mt-2"><i class="icon-folder6 mr-2"></i> Chuyên Gia <span
                  class="ml-1">(10)</span></h6>
              <div class="dropdown-divider mb-2"></div>
              <a href="https://github.com/angular-vietnam/100-days-of-angular/blob/master/Day021-rxjs-transformation.md" class="dropdown-item">
                <i class="icon-file-text2"></i> B21: RxJS Transformation Operators
              </a>

              <a href="https://github.com/angular-vietnam/100-days-of-angular/blob/master/Day022-rxjs-filtering.md" class="dropdown-item">
                <i class="icon-file-text2"></i> B22: RxJS Filtering Operators
              </a>

              <a href="https://github.com/angular-vietnam/100-days-of-angular/blob/master/Day023-rxjs-combination.md" class="dropdown-item">
                <i class="icon-file-text2"></i> B23: RxJS Combination Operators
              </a>

              <a href="https://github.com/angular-vietnam/100-days-of-angular/blob/master/Day024-rxjs-error-handling-conditional.md" class="dropdown-item">
                <i class="icon-file-text2"></i> B24: RxJS Error Handling and Conditional Operators
              </a>

              <a href="https://github.com/angular-vietnam/100-days-of-angular/blob/master/Day025-rxjs-hoo-utility.md" class="dropdown-item">
                <i class="icon-file-text2"></i> B25: RxJS Higher Order Observables and Utility Operators
              </a>

              <a href="https://github.com/angular-vietnam/100-days-of-angular/blob/master/Day026-rxjs-subject-multicast.md" class="dropdown-item">
                <i class="icon-file-text2"></i> B26: RxJS Subject and Multicasting
              </a>

              <a href="https://github.com/angular-vietnam/100-days-of-angular/blob/master/Day027-router.md" class="dropdown-item">
                <i class="icon-file-text2"></i> B27: Angular Router
              </a>

              <a href="https://github.com/angular-vietnam/100-days-of-angular/blob/master/Day028-router-feature-child-services.md" class="dropdown-item">
                <i class="icon-file-text2"></i> B28: Angular Router - Feature Modules, Child Routes and Services
              </a>

              <a href="https://github.com/angular-vietnam/100-days-of-angular/blob/master/Day029-router-lazy-load.md" class="dropdown-item">
                <i class="icon-file-text2"></i> B29: Angular Router - Lazy Loading Modules
              </a>

              <a href="https://github.com/angular-vietnam/100-days-of-angular/blob/master/Day030-router-guards-resolvers.md" class="dropdown-item">
                <i class="icon-file-text2"></i> B30: Angular Router - Guards and Resolvers Part 1
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /directory -->

  </div>
