<div class="content pt-0">
  <div class="row mt-2">
    <div class="col-lg-4">
      <div class="card">
        <div class="card-body text-center">
          <i class="icon-cog4 icon-2x text-success-400 border-success-400 border-3 rounded-round p-3 mb-3 mt-1"></i>
          <h5 class="card-title">Hướng dẫn cài đặt môi trường</h5>
          <p class="mb-3">Ouch found swore much dear conductively hid submissively hatchet vexed far inanimately
            alongside candidly much and jeez</p>
          <a [routerLink]="['/document/get-started']" class="btn bg-success-400">Đi tới</a>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="card">
        <div class="card-body text-center">
          <i class="icon-magazine icon-2x text-warning-400 border-warning-400 border-3 rounded-round p-3 mb-3 mt-1"></i>
          <h5 class="card-title">Tài liệu</h5>
          <p class="mb-3">Dear spryly growled much far jeepers vigilantly less and far hideous and some mannishly less
            jeepers less and and crud</p>
          <a [routerLink]="['/document/info']" class="btn bg-warning-400">Đi tới</a>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="card">
        <div class="card-body text-center">
          <i class="icon-reading icon-2x text-blue border-blue border-3 rounded-round p-3 mb-3 mt-1"></i>
          <h5 class="card-title">Icon</h5>
          <p class="mb-3">Diabolically somberly astride crass one endearingly blatant depending peculiar antelope
            piquantly popularly adept much</p>
          <a [routerLink]="['/example/icon']" class="btn bg-blue">Đi tới</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">

    <div class="col-lg-4">
      <div class="card">
        <div class="card-body text-center">
          <i class="icon-reading icon-2x text-blue border-blue border-3 rounded-round p-3 mb-3 mt-1"></i>
          <h5 class="card-title">Form component</h5>
          <p class="mb-3">Diabolically somberly astride crass one endearingly blatant depending peculiar antelope
            piquantly popularly adept much</p>
          <a [routerLink]="['/example/basic']" class="btn bg-blue">Đi tới</a>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="card">
        <div class="card-body text-center">
          <i class="icon-profile icon-2x text-blue-400 border-blue-400 border-3 rounded-round p-3 mb-3 mt-1"></i>
          <h5 class="card-title">Crud one key component</h5>
          <p class="mb-3">Ouch found swore much dear conductively hid submissively hatchet vexed far inanimately
            alongside candidly much and jeez</p>
          <a [routerLink]="['/example/crud']" class="btn bg-blue-400">Đi tới</a>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="card">
        <div class="card-body text-center">
          <i class="icon-profile icon-2x text-blue-400 border-blue-400 border-3 rounded-round p-3 mb-3 mt-1"></i>
          <h5 class="card-title">Crud multi key component</h5>
          <p class="mb-3">Ouch found swore much dear conductively hid submissively hatchet vexed far inanimately
            alongside candidly much and jeez</p>
          <a [routerLink]="['/example/crud-multi-key']" class="btn bg-blue-400">Đi tới</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">

    <div class="col-lg-4">
      <div class="card">
        <div class="card-body text-center">
          <i class="icon-reading icon-2x text-blue border-blue border-3 rounded-round p-3 mb-3 mt-1"></i>
          <h5 class="card-title">Hangfire dashboard</h5>
          <p class="mb-3">Diabolically somberly astride crass one endearingly blatant depending peculiar antelope
            piquantly popularly adept much</p>
          <a target="_blank" herf = "http://localhost:5000/hangfire" class="btn bg-blue">Đi tới</a>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="card">
        <div class="card-body text-center">
          <i class="icon-profile icon-2x text-blue-400 border-blue-400 border-3 rounded-round p-3 mb-3 mt-1"></i>
          <h5 class="card-title">From step component</h5>
          <p class="mb-3">Ouch found swore much dear conductively hid submissively hatchet vexed far inanimately
            alongside candidly much and jeez</p>
          <a [routerLink]="['/example/form-step']" class="btn bg-blue-400">Đi tới</a>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="card">
        <div class="card-body text-center">
          <i class="icon-certificate icon-2x text-danger-400 border-danger-400 border-3 rounded-round p-3 mb-3 mt-1"></i>
          <h5 class="card-title">Barcode Component</h5>
          <p class="mb-3">Dear spryly growled much far jeepers vigilantly less and far hideous and some mannishly less
            jeepers less and and crud</p>
          <a [routerLink]="['/example/bar-code']" class="btn bg-danger-400">Đi tới</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <div class="card">
        <div class="card-body text-center">
          <i class="icon-certificate icon-2x text-danger-400 border-danger-400 border-3 rounded-round p-3 mb-3 mt-1"></i>
          <h5 class="card-title">Tree table</h5>
          <p class="mb-3">Dear spryly growled much far jeepers vigilantly less and far hideous and some mannishly less
            jeepers less and and crud</p>
          <a [routerLink]="['/example/table-tree']" class="btn bg-danger-400">Đi tới</a>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="card">
        <div class="card-body text-center">
          <i class="icon-certificate icon-2x text-danger-400 border-danger-400 border-3 rounded-round p-3 mb-3 mt-1"></i>
          <h5 class="card-title">Upload file</h5>
          <p class="mb-3">Dear spryly growled much far jeepers vigilantly less and far hideous and some mannishly less
            jeepers less and and crud</p>
          <a [routerLink]="['/example/upload-file']" class="btn bg-danger-400">Đi tới</a>
        </div>
      </div>
    </div>
  </div>


</div>
