<div class="page-header page-header-light border-bottom-0">
  <div class="page-header-content header-elements-md-inline">
    <div class="page-title d-flex">
    </div>
    <div class="header-elements">
      <button type="button" class="btn btn-primary" (click)="getData()">
        <i class="mr-2 icon-search4"></i>Tìm kiếm
      </button>

      <button type="button" class="btn btn-primary" [disabled]="tableConfig.itemSelected.size !== 1"
        (click)="showDataDialog(tableConfig.getItemSelectedArray()[0])">
        <i class=" icon-eye8 mr-2 "></i>Xem
      </button>

      <button type="button" class="btn btn-primary" (click)="addDataDialog()" *ngIf="mode !== 'view'">
        <i class="icon-plus-circle2 mr-2"></i>Thêm
      </button>

      <button type="button" class="btn btn-primary" [disabled]="tableConfig.itemSelected.size !== 1"
        (click)="editDataDialog(tableConfig.getItemSelectedArray()[0])" *ngIf="mode !== 'view'">
        <i class="icon-pencil7 mr-2"></i>Sửa
      </button>

      <button type="button" class="btn btn-danger" [disabled]="tableConfig.itemSelected.size === 0"
        (click)="deleteData(tableConfig.getItemSelectedArray())" *ngIf="mode !== 'view'">
        <i class="icon-bin mr-2"></i>Xóa
      </button>
    </div>
  </div>
</div>

<div class="content pt-0">
  <div class="header-elements-inline">
    <div class="navbar-expand-md w-100">
      <div class="padding-left-15 text-right d-md-none w-100 row">
        <button class="navbar-toggler" data-target="#search-list" data-toggle="collapse" type="button">
          <i nz-icon nzType="menu" nzTheme="outline"></i>
        </button>
      </div>
      <div class="navbar-collapse collapse" id="search-list">
        <form *ngIf="formSearch" [formGroup]="formSearch" class="w-100" (ngSubmit)="getData()" novalidate>
          <ng-template #controlErrorTpl let-control>
            <app-render-errors [control]="control"></app-render-errors>
          </ng-template>
          <div class="row ">
            <div class="col-md-3">
              <nz-form-item>
                <nz-form-label>Từ tỉnh</nz-form-label>
                <nz-form-control [nzErrorTip]="controlErrorTpl">
                  <input-select-api [items]="[{ value: null, text: 'Chọn tỉnh' }]" formControlName="fromProvinceCode"
                      [apiService]="provinceApi" [apiParams]="{ page: 1 }" placeholder="">
                  </input-select-api>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div class="col-md-3">
              <nz-form-item>
                <nz-form-label>Tới tính</nz-form-label>
                <nz-form-control [nzErrorTip]="controlErrorTpl">
                  <input-select-api [items]="[{ value: null, text: 'Chọn tỉnh' }]" formControlName="toProvinceCode"
                      [apiService]="provinceApi" [apiParams]="{ page: 1 }" placeholder="">
                  </input-select-api>
                </nz-form-control>
              </nz-form-item>
            </div>           
          </div>
          <button type="submit" hidden>Tìm kiếm</button>
        </form>
      </div>
    </div>
  </div>
  <hr class="mt-0 margin-bottom-10">

  <nz-table [nzData]="listOfData" [nzLoading]="isLoading" [nzBordered]="true" [nzFrontPagination]="false" nzSize="small"
    [nzScroll]="{ x: false }">
    <thead>
      <tr>
        <th nzWidth="40px" [nzChecked]="tableConfig.isAllChecked" [nzIndeterminate]="tableConfig.indeterminate"
          (nzCheckedChange)="tableConfig.onAllChecked($event,listOfData)"></th>
        <th>Stt</th>
        <th>Từ tính</th>
        <th>Đến tỉnh</th>
        <th>Cước</th>
        <th>% cước chính trong nước</th>
        <th>% phụ cước máy bay</th>
        <th class="action text-center">Thao tác</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of listOfData;let i = index">
        <td [nzChecked]="tableConfig.itemSelected.has(item[tableConfig.keyId])"
          (nzCheckedChange)="tableConfig.onItemChecked(item[tableConfig.keyId], $event, listOfData)"></td>
        <td>
          {{ i + 1 + ((paging.page - 1)*paging.size)}}
        </td>
        <td>
          <a class="data-link" href="javascript:;">
            {{item.fromProvinceName}}
          </a>
        </td>
        <td>
           {{item.toProvinceName}}
        </td>
        <td>
          {{item.freight}}
        </td>
        <td>
            {{item.domesticMainFreightPercent}}
        </td>
        <td>
            {{item.domesticAirSurchargeFreightPercent}}
        </td>
        <td class="text-center">
          <div class="list-icons list-icons-extended text-center">
            <a class="list-icons-item" href="javascript:;" (click)="showDataDialog(item.id)">
              <span nz-tooltip nzTooltipTitle="Xem">
                <i nz-icon nzType="eye" nzTheme="outline"></i>
              </span>
            </a>
            <a class="list-icons-item text-primary" href="javascript:;" (click)="editDataDialog(item.id)" *ngIf="mode !== 'view'">
              <span nz-tooltip nzTooltipTitle="Sửa">
                <i nz-icon nzType="form" nzTheme="outline"></i>
              </span>
            </a>
            <a class="list-icons-item text-danger" href="javascript:;" (click)="deleteData([item.id])" *ngIf="mode !== 'view'">
              <span nz-tooltip nzTooltipTitle="Xóa">
                <i nz-icon nzType="delete" nzTheme="outline"></i>
              </span>
            </a>
          </div>
        </td>
      </tr>
    </tbody>
  </nz-table>
  <app-paging [data]="paging" (onChange)="getData($event)"></app-paging>
</div>
