<div class="page-header page-header-light">
  <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
    <div class="d-flex">
      <div class="breadcrumb">
        <a [routerLink]="['/']" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Trang chủ</a>
        <a href="javascript:;" class="breadcrumb-item">Quản trị hệ thống</a>
        <a href="javascript:;" class="breadcrumb-item">Quản trị người dùng</a>
        <span class="breadcrumb-item active">Danh sách tài khoản</span>
      </div>
    </div>
  </div>
</div>

<div class="page-header page-header-light border-bottom-0">
  <div class="page-header-content header-elements-md-inline">
    <div class="page-title d-flex">
      <h4><span class="font-weight-semibold">Quản lý tài khoản</span></h4>
    </div>

    <div class="header-elements">
      <button type="button" class="btn btn-primary" (click)="getData()">
        <i class="mr-2 icon-search4"></i>Tìm kiếm
      </button>

      <button type="button" class="btn btn-primary" (click)="addDataDialog()">
        <i class="icon-plus-circle2 mr-2"></i>Thêm
      </button>

      <button type="button" class="btn btn-danger" [disabled]="tableConfig.itemSelected.size === 0"
        (click)="deleteData(tableConfig.getItemSelectedArray())">
        <i class="icon-bin mr-2"></i>Xóa
      </button>

      <button type="button" (click)="exportData()" class="btn btn-primary">
        <i class="icon-download mr-2"></i>Kết xuất
      </button>
    </div>
  </div>
</div>

<div class="content pt-0">
  <div class="header-elements-inline">
    <div class="navbar-expand-md w-100">
      <div class="padding-left-15 text-right d-md-none w-100 row">
        <button class="navbar-toggler" data-target="#search-list" data-toggle="collapse" type="button">
          <i nz-icon nzType="menu" nzTheme="outline"></i>
        </button>
      </div>
      <div class="navbar-collapse collapse" id="search-list">
        <form *ngIf="formSearch" [formGroup]="formSearch" class="w-100" (ngSubmit)="getData()" novalidate>
          <ng-template #controlErrorTpl let-control>
            <app-render-errors [control]="control"></app-render-errors>
          </ng-template>
          <div class="row ">
            <div class="col-md-3">
              <nz-form-item>
                <nz-form-label>Tìm theo tài khoản</nz-form-label>
                <nz-form-control [nzErrorTip]="controlErrorTpl">
                  <input-text-search placeholder="Nhập từ khóa tìm kiếm" formControlName="userName">
                  </input-text-search>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div class="col-md-3">
              <nz-form-item>
                <nz-form-label>Tìm theo tên</nz-form-label>
                <nz-form-control [nzErrorTip]="controlErrorTpl">
                  <input-text-search placeholder="Nhập từ khóa tìm kiếm" formControlName="fullName">
                  </input-text-search>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div class="col-md-3">
              <nz-form-item>
                <nz-form-label>Loại tài khoản</nz-form-label>
                <nz-form-control [nzErrorTip]="controlErrorTpl">
                  <input-select placeholder="Chọn loại tài khoản" [items]="lstType" formControlName="userType" [allowClear]="false">
                  </input-select>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
          <button type="submit" hidden>Tìm kiếm</button>
        </form>
      </div>
    </div>
  </div>
  <hr class="mt-0 margin-bottom-10">

  <nz-table [nzData]="listOfData" [nzLoading]="isLoading" [nzBordered]="true" [nzFrontPagination]="false" nzSize="small"
    [nzScroll]="{ x: false }">
    <thead>
      <tr>
        <th nzWidth="40px" [nzChecked]="tableConfig.isAllChecked" [nzIndeterminate]="tableConfig.indeterminate"
          (nzCheckedChange)="tableConfig.onAllChecked($event,listOfData)"></th>
          <th>Stt</th>
          <th>Tài khoản</th>
          <th>Tên</th>
          <th>Email</th>
          <th>Số điện thoại</th>
          <th>Bưu cục</th>
          <th>Trạng thái</th>
        <th class="action text-center">Thao tác</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of listOfData;let i = index">
        <td [nzChecked]="tableConfig.itemSelected.has(item[tableConfig.keyId])"
          (nzCheckedChange)="tableConfig.onItemChecked(item[tableConfig.keyId], $event, listOfData)"></td>
        <td>
          {{ i + 1 + ((paging.page - 1)*paging.size)}}
        </td>
        <td>
          {{item.username}}
        </td>
        <td>
          <a class="data-link" href="javascript:;">
            {{item.fullName}}
          </a>
        </td>
        <td>
          {{item.email}}
        </td>
        <td>
          {{item.tel}}
        </td>
        <td>
          {{item.posCode}}
        </td>
        <td class="text-center">
          <label *ngIf="item.status" class="label label-success">Đang sử dụng</label>
          <label *ngIf="!item.status" class="label label-danger">Không còn sử dụng</label>
        </td>
        <td class="text-center">
          <div class="list-icons list-icons-extended text-center">
            <a class="list-icons-item" href="javascript:;" (click)="showDataDialog(item.id)">
              <span nz-tooltip nzTooltipTitle="Xem">
                <i nz-icon nzType="eye" nzTheme="outline"></i>
              </span>
            </a>
            <a class="list-icons-item text-primary" href="javascript:;" (click)="editDataDialog(item.id)">
              <span nz-tooltip nzTooltipTitle="Sửa">
                <i nz-icon nzType="form" nzTheme="outline"></i>
              </span>
            </a>
            <a class="list-icons-item text-danger" href="javascript:;" (click)="deleteData([item.id])">
              <span nz-tooltip nzTooltipTitle="Xóa">
                <i nz-icon nzType="delete" nzTheme="outline"></i>
              </span>
            </a>
            <a *ngIf="item.status" class="list-icons-item text-danger" href="javascript:;" (click)="activeUser(1, item.username)">
              <span nz-tooltip nzTooltipTitle="Thu hồi tài khoản">
                <i nz-icon nzType="stop" nzTheme="outline"></i>
              </span>
            </a>
            <a *ngIf="!item.status" class="list-icons-item text-success" href="javascript:;" (click)="activeUser(2, item.username)">
              <span nz-tooltip nzTooltipTitle="Phê duyệt tài khoản">
                <i nz-icon nzType="check-circle" nzTheme="outline"></i>
              </span>
            </a>
          </div>
        </td>
      </tr>
    </tbody>
  </nz-table>
  <app-paging [data]="paging" (onChange)="getData($event)"></app-paging>
</div>
