<div class="content pt-0">
  <div class="card">
    <div class="card-body">
      <div class="mb-4">
        <h5 class="font-weight-semibold">Cài đặt Nodejs</h5>

        <p>Link cài đặt: <a href="https://nodejs.org/en/">https://nodejs.org/en/</a></p>

        <p>Tải bản LTS và cài đặt</p>
      </div>

      <div class="mb-4">
        <h5 class="font-weight-semibold">Cài đặt Angular CLI</h5>
        <p>Open Window PowerSell (Admin)</p>
        <p>chạy lệnh: npm install -g @angular/cli@10.0.8</p>
      </div>

      <div class="mb-4">
        <h5 class="font-weight-semibold">Cài đặt Visual code</h5>

        <p>Link cài đặt: <a href="https://code.visualstudio.com/">https://code.visualstudio.com/</a></p>

        <p class="mb-3">Tài bản cho hệ điều hành và cài đặt</p>

        <p class="mb-1">Mở visual code cài đặt các tiện ích sau</p>

        <div class="row">
          <div class="col-lg-4">
            <ul class="list list-unstyled">
              <li>
                <i class="icon-checkmark3 text-success mr-2"></i>
                Angular Essentials (Version 9)
              </li>
              <li>
                <i class="icon-checkmark3 text-success mr-2"></i>
                Angular Files
              </li>
              <li>
                <i class="icon-checkmark3 text-success mr-2"></i>
                TSlint
              </li>
              <li>
                <i class="icon-checkmark3 text-success mr-2"></i>
                Auto Import
              </li>
              <li>
                <i class="icon-checkmark3 text-success mr-2"></i>
                Add jsdoc comments
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="mb-4">
        <h5 class="font-weight-semibold">Tài Source Tree (Git)</h5>

        <p>Link cài đặt: <a href="https://www.sourcetreeapp.com/">https://www.sourcetreeapp.com/</a></p>

        <p>Tải bản cho hệ điều hành và cài đặt</p>
      </div>

      <div class="mb-4">
        <h5 class="font-weight-semibold">Tài Visual studio</h5>

        <p>Link cài đặt: <a href="https://visualstudio.microsoft.com/">https://visualstudio.microsoft.com/</a></p>

        <p>Tải bản Community 2019 cho hệ điều hành và cài đặt</p>
      </div>

      <div class="mb-4">
        <h5 class="font-weight-semibold">Tải dotnet core 3.1 sdk</h5>

        <p>Link cài đặt: <a href="https://dotnet.microsoft.com/download/">https://dotnet.microsoft.com/download/</a></p>

        <p>Tải bản 3.1 cho hệ điều hành và cài đặt</p>
      </div>
    </div>
  </div>
</div>
