<div class="card">
  <div class="card-header header-elements-inline">
    <h6 class="card-title">SẢN LƯỢNG CHIỀU ĐẾN</h6>
    <div class="header-elements">
      <span class="badge badge-success badge-pill mr-2">Thời gian</span>
      <input-date-range
        class="cbx-posCode"
        [(ngModel)]="date"
        [allowClear]="false"
        (onChange)="changePos()"
        placeholder="Chọn thời gian"
      ></input-date-range>

      <span class="badge badge-primary badge-pill ml-2 mr-2">Cục</span>
      <input-select
        class="cbx-posCode"
        [items]="listPos"
        [(ngModel)]="posCode"
        [allowClear]="false"
        (onChange)="changePos()"
      ></input-select>
    </div>
  </div>

  <div class="card-body py-0">
    <highcharts-chart
      *ngIf="!loading"
      [Highcharts]="Highcharts"
      [options]="chartOptions"
    >
    </highcharts-chart>
    <nz-spin *ngIf="loading" [nzSpinning]="loading"></nz-spin>

    <div *ngIf="total> 0" class="total">Tổng: {{total | number}}</div>
  </div>
</div>
