<div class="page-header page-header-light">
  <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
    <div class="d-flex">
      <div class="breadcrumb">
        <a [routerLink]="['/']" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Trang chủ</a>
        <span class="breadcrumb-item active">Thay đổi mật khẩu</span>
      </div>
    </div>
  </div>
</div>


<!-- Content area -->
<div class="content pt-0">

  <div class="card">
    <div class="card-header header-elements-inline">
      <h5 class="card-title">Thay đổi mật khẩu</h5>
    </div>

    <div class="card-body">
      <nz-spin [nzSpinning]="isLoading">
        <form class="form-horizontal" nz-form *ngIf="myForm" [formGroup]="myForm" (ngSubmit)="submitForm()" novalidate>
          <ng-template #controlErrorTpl let-control>
            <app-render-errors [control]="control"></app-render-errors>
          </ng-template>

          <div class="row">
            <div class="col-md-6">
              <nz-form-item>
                <nz-form-label nzRequired>Mật khẩu cũ</nz-form-label>
                <nz-form-control [nzErrorTip]="controlErrorTpl">
                  <input-password formControlName="passwordOld" placeholder="**************">
                  </input-password>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <nz-form-item>
                <nz-form-label nzRequired>Mật khẩu mới</nz-form-label>
                <nz-form-control [nzErrorTip]="controlErrorTpl">
                  <input-password formControlName="password" placeholder="**************">
                  </input-password>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div class="col-md-6">
              <nz-form-item>
                <nz-form-label nzRequired>Xác nhận khẩu mới</nz-form-label>
                <nz-form-control [nzErrorTip]="controlErrorTpl">
                  <input-password formControlName="confirmPassword" placeholder="**************">
                  </input-password>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>

          <div class="text-center mt-2">
            <button nz-button class="btn btn-primary" [nzLoading]="isSubmit" type="button" (click)="submitForm()">
              Thay đổi mật khẩu
            </button>
          </div>
        </form>
      </nz-spin>
    </div>
    <!-- /content area -->
  </div>