<button aria-label="Close" class="ant-modal-close ng-star-inserted" (click)="closeDialog()">
  <span class="ant-modal-close-x">
    <i nz-icon nzType="close" nzTheme="outline" class="anticon ant-modal-close-icon anticon-close"></i>
  </span>
</button>
<nz-spin [nzSpinning]="isLoading">
  <form nz-form *ngIf="!isLoading" [formGroup]="myForm" (ngSubmit)="submitForm()" novalidate>
    <ng-template #controlErrorTpl let-control>
      <app-render-errors [control]="control"></app-render-errors>
    </ng-template>
    <div class="row">
      <div class="col-md-6">
        <nz-form-item>
          <nz-form-label nzRequired>Tên</nz-form-label>
          <nz-form-control [nzErrorTip]="controlErrorTpl">
            <input-text placeholder="" formControlName="name"></input-text>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <nz-form-item>
          <nz-form-label nzRequired>Chọn 1 file</nz-form-label>
          <nz-form-control [nzErrorTip]="controlErrorTpl">
            <input-file placeholder="" [size]="1" folder="example" formControlName="oneFile"></input-file>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div class="col-md-12">
        <nz-form-item>
          <nz-form-label nzRequired>Chọn nhiều file</nz-form-label>
          <nz-form-control [nzErrorTip]="controlErrorTpl">
            <input-file placeholder="" [size]="10" formControlName="multiFile"></input-file>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div class="text-right mt-2">
      <ng-container *ngIf="mode !== 'view'">
        <button nz-button class="btn btn-primary mr-2" type="submit" [nzLoading]="isSubmit">
          Lưu dữ liệu
        </button>
      </ng-container>
      <button class="btn btn-light" type="button" (click)="closeDialog()">Đóng</button>
    </div>
  </form>
</nz-spin>
