<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="BCCPEntities" connectionString="metadata=res://*/QuanTri.csdl|res://*/QuanTri.ssdl|res://*/QuanTri.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=vnpost.ddns.net;initial catalog=KT1;persist security info=True;user id=sa;password=bccp@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="KT1Entities" connectionString="metadata=res://*/DanhMuc.csdl|res://*/DanhMuc.ssdl|res://*/DanhMuc.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=vnpost.ddns.net;initial catalog=KT1;persist security info=True;user id=sa;password=bccp@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="KT1Entities1" connectionString="metadata=res://*/QuanTri.csdl|res://*/QuanTri.ssdl|res://*/QuanTri.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=vnpost.ddns.net;initial catalog=KT1;persist security info=True;user id=sa;password=bccp@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="KT1Entities2" connectionString="metadata=res://*/SuVu.csdl|res://*/SuVu.ssdl|res://*/SuVu.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=vnpost.ddns.net;initial catalog=KT1;persist security info=True;user id=sa;password=bccp@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="KT1Entities3" connectionString="metadata=res://*/GiaoNhan.csdl|res://*/GiaoNhan.ssdl|res://*/GiaoNhan.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=vnpost.ddns.net;initial catalog=KT1;persist security info=True;user id=sa;password=bccp@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="KT1Entities4" connectionString="metadata=res://*/CuocPhi.csdl|res://*/CuocPhi.ssdl|res://*/CuocPhi.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=vnpost.ddns.net;initial catalog=KT1;persist security info=True;user id=sa;password=bccp@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities" connectionString="metadata=res://*/HoTro.csdl|res://*/HoTro.ssdl|res://*/HoTro.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=vnpost.ddns.net;initial catalog=KT1;persist security info=True;user id=sa;password=bccp@123;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="KT1Entities5" connectionString="metadata=res://*/TiepNhanGiaoDich.csdl|res://*/TiepNhanGiaoDich.ssdl|res://*/TiepNhanGiaoDich.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Vnpost.ddns.net;initial catalog=KT1;persist security info=True;user id=sa;password=bccp@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="KT1Entities6" connectionString="metadata=res://*/KhaiThac.csdl|res://*/KhaiThac.ssdl|res://*/KhaiThac.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Vnpost.ddns.net;initial catalog=KT1;persist security info=True;user id=sa;password=bccp@123;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="KT1_IdentityEntities" connectionString="metadata=res://*/Identity.csdl|res://*/Identity.ssdl|res://*/Identity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=vnpost.ddns.net;initial catalog=KT1_Identity;persist security info=True;user id=sa;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="KT1_LogEntities" connectionString="metadata=res://*/LogEntity.csdl|res://*/LogEntity.ssdl|res://*/LogEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=vnpost.ddns.net;initial catalog=KT1_Log;persist security info=True;user id=sa;password=bccp@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>