<div class="page-header page-header-light">
  <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
    <div class="d-flex">
      <div class="breadcrumb">
        <a [routerLink]="['/']" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Trang chủ</a>
        <a href="javascript:;" class="breadcrumb-item"> Quản lý văn bản </a>
        <span class="breadcrumb-item active">Quản lý văn bản</span>
      </div>
    </div>
  </div>
</div>

<div class="page-header page-header-light border-bottom-0">
  <div class="page-header-content header-elements-md-inline">
    <div class="page-title d-flex">
      <h4><span class="font-weight-semibold">Quản lý văn bản</span></h4>
    </div>
    <div class="header-elements">
      <button type="button" class="btn btn-primary" (click)="getData()">
        <i class="mr-2 icon-search4"></i>Tìm kiếm
      </button>   
      <button type="button" class="btn btn-primary"  (click)="addDataDialog()" >
        <i class="icon-plus-circle2 mr-2"></i>Thêm mới
      </button>    
    </div>
  </div>
</div>


<div class="content pt-0">
  <div class="header-elements-inline">
    <div class="navbar-expand-md w-100">
      <div class="padding-left-15 text-right d-md-none w-100 row">
        <button class="navbar-toggler" data-target="#search-list" data-toggle="collapse" type="button">
          <i nz-icon nzType="menu" nzTheme="outline"></i>
        </button>
      </div>
      <div class="navbar-collapse collapse" id="search-list">
        <form *ngIf="formSearch" [formGroup]="formSearch" class="w-100" (ngSubmit)="getData()" novalidate>
          <ng-template #controlErrorTpl let-control>
            <app-render-errors [control]="control"></app-render-errors>
          </ng-template>
          <div class="row ">
            <div class="col-md-3">
              <nz-form-item>
                <nz-form-label>Ngày tạo từ</nz-form-label>
                <nz-form-control [nzErrorTip]="controlErrorTpl">
                  <input-date formControlName="DateFrom"></input-date>
                </nz-form-control>
              </nz-form-item>
            </div>           
            <div class="col-md-3">
              <nz-form-item>
                <nz-form-label>Ngày tạo đến</nz-form-label>
                <nz-form-control [nzErrorTip]="controlErrorTpl">
                  <input-date formControlName="DateTo"></input-date>
                </nz-form-control>
              </nz-form-item>
            </div>       
            <div class="col-md-3">
              <nz-form-item>
                <nz-form-label>Tên văn bản</nz-form-label>
                <nz-form-control [nzErrorTip]="controlErrorTpl">
                  <input-text-search placeholder="Tên văn bản" formControlName="Title">
                  </input-text-search>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
          <button type="submit" hidden>Tìm kiếm</button>
        </form>
      </div>
    </div>
  </div>
  <hr class="mt-0 margin-bottom-10">

  <nz-table [nzData]="listOfData" [nzLoading]="isLoading" [nzBordered]="true" [nzFrontPagination]="false" nzSize="small"
    [nzScroll]="{ x: false }">
    <thead>
      <tr>       
        <th>STT</th>
        <th>Tên văn bản</th>
        <th>Nội dung</th>
        <th>Tải file</th>
        <th>Ngày tạo</th>
        <th>Bưu cục ban hành</th>      
        <th class="action text-center">Thao tác</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of listOfData;let i = index">      
        <td>
          {{ i + 1 + ((paging.page - 1)*paging.size)}}
        </td>
        <td>         
            {{item.title}}        
        </td>
        <td>
          {{item.content}}
        </td>    
        <td>
          <div *ngFor="let file of item.url">
            <a [href]="file.fileUrl" target="_blank">{{file.fileName}}</a><br/>
          </div>
        </td> 
        <td>
          {{item.dateCreated | datetimeFormat}}
        </td>  
        <td>
          {{item.posCode}}
        </td>     
        <td class="text-center">
          <div class="list-icons list-icons-extended text-center">
            <a class="list-icons-item" href="javascript:;" (click)="showDataDialog(item.id)">
              <span nz-tooltip nzTooltipTitle="Xem">
                <i nz-icon nzType="eye" nzTheme="outline"></i>
              </span>
            </a>
            <a class="list-icons-item text-primary" href="javascript:;" (click)="editDataDialog(item.id)">
              <span nz-tooltip nzTooltipTitle="Sửa">
                <i nz-icon nzType="form" nzTheme="outline"></i>
              </span>
            </a>
            <a class="list-icons-item text-danger" href="javascript:;" (click)="deleteData([item.id])">
              <span nz-tooltip nzTooltipTitle="Xóa">
                <i nz-icon nzType="delete" nzTheme="outline"></i>
              </span>
            </a>
          </div>
        </td>
      </tr>
    </tbody>
  </nz-table>
  <app-paging [data]="paging" (onChange)="getData($event)"></app-paging>
</div> 