<div class="card">
  <div class="card-header header-elements-inline">
    <h6 class="card-title">{{ this.options?.name }}</h6>
    <div class="header-elements">
      <span class="badge badge-success badge-pill mr-2">Tỉnh</span>
      <input-select-api
        class="cbx-posCode"
        [apiService]="provinceApi"
        [(ngModel)]="province"
        (onChange)="changePos()"
        placeholder="Tất cả"
      ></input-select-api>

      <span class="badge badge-primary badge-pill ml-2 mr-2">Cục</span>
      <input-select
        class="cbx-posCode"
        [items]="listPos"
        [(ngModel)]="posCode"
        (onChange)="changePos()"
        placeholder="Toàn mạng"
      ></input-select>
    </div>
  </div>

  <div class="card-body py-0">
    <div class="row">
      <div class="col-md-6">
        <highcharts-chart
          *ngIf="!loading"
          [Highcharts]="Highcharts"
          [options]="chartOptions"
          (click)="selectData($event)"
        >
        </highcharts-chart>
      </div>
      <div class="col-md-6">
        <highcharts-chart
          *ngIf="!loading"
          [Highcharts]="Highcharts2"
          [options]="chartOptions2"
        >
        </highcharts-chart>
      </div>
    </div>
    <nz-spin *ngIf="loading" [nzSpinning]="loading"></nz-spin>
  </div>
</div>
