<div class="card">
  <div class="card-header header-elements-sm-inline">
    <h6 class="card-title">{{ options ? options.name : "" }}</h6>
    <div class="header-elements">
      <span class="badge badge-primary badge-pill mr-2">Cục</span>
      <input-select
        class="cbx-posCode"
        [items]="listPos"
        [(ngModel)]="posCode"
        (onChange)="changePos()"
        placeholder="Cả cục"
      ></input-select>
    </div>
  </div>

  <div
    class="card-body d-lg-flex align-items-lg-center justify-content-lg-between flex-lg-wrap"
  >
    <div class="d-flex align-items-center mb-3 mb-lg-0">
      <div id="tickets-status">
        <svg width="42" height="42">
          <g transform="translate(21,21)">
            <g class="d3-arc d3-slice-border" style="cursor: pointer">
              <path
                d="M1.1634144591899855e-15,19A19,19 0 0,1 -12.326087772183463,-14.459168725498339L-6.163043886091732,-7.229584362749169A9.5,9.5 0 0,0 5.817072295949927e-16,9.5Z"
                style="fill: rgb(41, 182, 246)"
              ></path>
            </g>
            <g class="d3-arc d3-slice-border" style="cursor: pointer">
              <path
                d="M-12.326087772183463,-14.459168725498339A19,19 0 0,1 14.331188229058796,-12.474656065130077L7.165594114529398,-6.237328032565038A9.5,9.5 0 0,0 -6.163043886091732,-7.229584362749169Z"
                style="fill: rgb(102, 187, 106)"
              ></path>
            </g>
            <g class="d3-arc d3-slice-border" style="cursor: pointer">
              <path
                d="M14.331188229058796,-12.474656065130077A19,19 0 0,1 5.817072295949928e-15,19L2.908536147974964e-15,9.5A9.5,9.5 0 0,0 7.165594114529398,-6.237328032565038Z"
                style="fill: rgb(239, 83, 80)"
              ></path>
            </g>
          </g>
        </svg>
      </div>
      <div class="ml-3">
        <h5 class="font-weight-semibold mb-0">
          {{ totalData.sapCham | number }}
        </h5>
        <span class="badge badge-mark border-success mr-1"></span>
        <span class="text-muted"
          >Cần phát trong ngày {{ dateNow | dateFormat }}</span
        >
      </div>
    </div>

    <div class="d-flex align-items-center mb-6 mb-lg-0">
      <a
        href="#"
        class="btn bg-transparent border-indigo text-indigo rounded-pill border-2 btn-icon"
      >
        <i class="icon-alarm-add"></i>
      </a>
      <div class="ml-3">
        <h5 class="font-weight-semibold mb-0">
          {{ totalData.daCham | number }}
        </h5>
        <span class="text-muted">đã chậm toàn trình nhưng chưa phát</span>
      </div>
    </div>

    <div>
      <!-- <a href="#" class="btn btn-teal"><i class="icon-statistics mr-2"></i> Report</a> -->
    </div>
  </div>

  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th style="width: 50px">Thời hạn</th>
          <th style="width: 150px">Mã bưu gửi</th>
          <th>Thông tin bưu gửi</th>
        </tr>
      </thead>
      <tbody>
        <tr class="table-active table-border-double">
          <td colspan="2">Bưu gửi sắp chậm toàn trình</td>
          <td class="text-right">
            <a
              [routerLink]="['/canhbao', 'canhbao-toantrinh']"
              [queryParams]="{ tab: 1 }"
              target="_blank"
              class="btn btn-indigo"
              ><i class="icon-statistics mr-2"></i> Chi tiết</a
            >
          </td>
        </tr>

        <tr *ngFor="let item of listOfData1">
          <td class="text-center">
            <h6 class="mb-0">{{ item.ThoiGianConLai }}</h6>
            <div class="font-size-sm text-muted line-height-1">giờ</div>
          </td>
          <td>
            <div class="align-items-center">
              <div>
                <a
                  [routerLink]="['/tracuu', 'tracuubuugui']"
                  [queryParams]="{ itemCode: item.ItemCode }"
                  target="_blank"
                  class="text-body font-weight-semibold letter-icon-title"
                  >{{ item.ItemCode }}</a
                >
                <div class="text-muted font-size-sm">
                  <span class="badge badge-mark border-primary mr-1"></span>
                  {{ item.POSCode }}
                </div>
              </div>
            </div>
          </td>
          <td>
            <a href="javascript:;" class="text-body">
              <div class="font-weight-semibold">
                [{{ item.SenderCustomerName }}] - {{ item.SenderAddress }} -
                {{ item.SenderProvinceName }}
              </div>
              <span class="text-muted"
                >{{ item.ReceiverAddress }} -
                {{ item.ReceiverProvinceName }}</span
              >
            </a>
          </td>
        </tr>

        <!-- <tr>
          <td class="text-center">
            <h6 class="mb-0">16</h6>
            <div class="font-size-sm text-muted line-height-1">giờ</div>
          </td>
          <td>
            <div class="d-flex align-items-center">
              <div>
                <a href="#" class="text-body font-weight-semibold"
                  >MZ76890345VN</a
                >
                <div class="text-muted font-size-sm">
                  <span class="badge badge-mark border-primary mr-1"></span>
                  100903
                </div>
              </div>
            </div>
          </td>
          <td>
            <a href="#" class="text-body">
              <div class="font-weight-semibold">
                số 5 Hàm nghi hà nội - Ban cơ yếu chính phủ
              </div>
              <span class="text-muted">Công an Hoàng mai Hà Nội</span>
            </a>
          </td>
        </tr>

        <tr>
          <td class="text-center">
            <h6 class="mb-0">20</h6>
            <div class="font-size-sm text-muted line-height-1">giờ</div>
          </td>
          <td>
            <div class="d-flex align-items-center">
              <div>
                <a
                  href="#"
                  class="text-body font-weight-semibold letter-icon-title"
                  >MZ673984953VN</a
                >
                <div class="text-muted font-size-sm">
                  <span class="badge badge-mark border-primary mr-1"></span>
                  100901
                </div>
              </div>
            </div>
          </td>
          <td>
            <a href="#" class="text-body">
              <div class="font-weight-semibold">Ban trung ương đảng</div>
              <span class="text-muted">Ban chính phủ hà nội</span>
            </a>
          </td>
        </tr>

        <tr>
          <td class="text-center">
            <h6 class="mb-0">40</h6>
            <div class="font-size-sm text-muted line-height-1">giờ</div>
          </td>
          <td>
            <div class="d-flex align-items-center">
              <div>
                <a
                  href="#"
                  class="text-body font-weight-semibold letter-icon-title"
                  >MZ82738491VN</a
                >
                <div class="text-muted font-size-sm">
                  <span class="badge badge-mark border-primary mr-1"></span>
                  100501
                </div>
              </div>
            </div>
          </td>
          <td>
            <a href="#" class="text-body">
              <div class="font-weight-semibold">Ban dân vận Hà Nội</div>
              <span class="text-muted">Bộ quốc phòng Hồ chí minh</span>
            </a>
          </td>
        </tr> -->

        <tr class="table-active table-border-double">
          <td colspan="2">Bưu gửi đã chậm toàn trình nhưng chưa phát</td>
          <td class="text-right">
            <a
              [routerLink]="['/canhbao', 'canhbao-toantrinh']"
              [queryParams]="{ tab: 2 }"
              target="_blank"
              class="btn btn-indigo"
              ><i class="icon-statistics mr-2"></i> Chi tiết</a
            >
          </td>
        </tr>

        <tr *ngFor="let item of listOfData2">
          <td class="text-center">
            <i class="icon-cross2 text-danger"></i>
          </td>
          <td>
            <div class="d-flex align-items-center">
              <div>
                <a
                  [routerLink]="['/tracuu', 'tracuubuugui']"
                  [queryParams]="{ itemCode: item.ItemCode }"
                  target="_blank"
                  class="text-body font-weight-semibold"
                  >{{ item.ItemCode }}</a
                >
                <div class="text-muted font-size-sm">
                  <span class="badge badge-mark border-danger mr-1"></span>
                  {{ item.POSCode }}
                </div>
              </div>
            </div>
          </td>
          <td>
            <a href="#" class="text-body">
              <div>
                [{{ item.SenderCustomerName }}] - {{ item.SenderAddress }} -
                {{ item.SenderProvinceName }}
              </div>
              <span class="text-muted"
                >{{ item.ReceiverAddress }} -
                {{ item.ReceiverProvinceName }}</span
              >
            </a>
          </td>
        </tr>

        <!-- <tr>
          <td class="text-center">
            <i class="icon-cross2 text-danger"></i>
          </td>
          <td>
            <div class="d-flex align-items-center">
              <div>
                <a
                  href="#"
                  class="text-body font-weight-semibold letter-icon-title"
                  >MZ78493854VN</a
                >
                <div class="text-muted font-size-sm">
                  <span class="badge badge-mark border-danger mr-1"></span>
                  100903
                </div>
              </div>
            </div>
          </td>
          <td>
            <a href="#" class="text-body">
              <div>[#1038] Bộ công an Hà Nội</div>
              <span class="text-muted">Công an Tỉnh Hải Dương</span>
            </a>
          </td>
        </tr>
        <tr>
          <td class="text-center">
            <i class="icon-cross2 text-danger"></i>
          </td>
          <td>
            <div class="d-flex align-items-center">
              <div>
                <a
                  href="#"
                  class="text-body font-weight-semibold letter-icon-title"
                  >MZ78493854VN</a
                >
                <div class="text-muted font-size-sm">
                  <span class="badge badge-mark border-danger mr-1"></span>
                  100903
                </div>
              </div>
            </div>
          </td>
          <td>
            <a href="#" class="text-body">
              <div>[#1038] Bộ công an Hà Nội</div>
              <span class="text-muted">Công an Tỉnh Hải Dương</span>
            </a>
          </td>
        </tr> -->
      </tbody>
    </table>
  </div>
</div>
