<div class="page-header page-header-light">
  <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
    <div class="d-flex">
      <div class="breadcrumb">
        <a [routerLink]="['/']" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Trang chủ</a>
        <a href="javascript:;" class="breadcrumb-item">Danh mục</a>
        <span class="breadcrumb-item active">Cấu hình máy in</span>
      </div>
    </div>
  </div>
</div>

<div class="page-header page-header-light border-bottom-0">
  <div class="page-header-content header-elements-md-inline">
    <div class="page-title d-flex">
      <h4><span class="font-weight-semibold">Quản lý cấu hình máy in</span></h4>
    </div>

    <div class="header-elements">
      <button type="button" class="btn btn-primary" (click)="getData()">
        <i class="mr-2 icon-search4"></i>Tìm kiếm
      </button>

      <button type="button" class="btn btn-primary" (click)="addDataDialog()">
        <i class="icon-plus-circle2 mr-2"></i>Thêm
      </button>

      <button type="button" class="btn btn-danger" [disabled]="tableConfig.itemSelected.size === 0"
        (click)="deleteData(tableConfig.getItemSelectedArray())">
        <i class="icon-bin mr-2"></i>Xóa
      </button>
    </div>
  </div>
</div>

<div class="content pt-0">
  <div class="header-elements-inline">
    <div class="navbar-expand-md w-100">
      <div class="padding-left-15 text-right d-md-none w-100 row">
        <button class="navbar-toggler" data-target="#search-list" data-toggle="collapse" type="button">
          <i nz-icon nzType="menu" nzTheme="outline"></i>
        </button>
      </div>
      <div class="navbar-collapse collapse" id="search-list">
        <form *ngIf="formSearch" [formGroup]="formSearch" class="w-100" (ngSubmit)="getData()" novalidate>
          <ng-template #controlErrorTpl let-control>
            <app-render-errors [control]="control"></app-render-errors>
          </ng-template>
          <div class="row ">
            <div class="col-md-3">
              <nz-form-item>
                <nz-form-label>Tìm theo tên máy in</nz-form-label>
                <nz-form-control [nzErrorTip]="controlErrorTpl">
                  <input-text-search placeholder="Nhập tên thiết bị" formControlName="name">
                  </input-text-search>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div class="col-md-3">
              <nz-form-item>
                <nz-form-label>Tìm theo mã bưu cục</nz-form-label>
                <nz-form-control [nzErrorTip]="controlErrorTpl">
                  <input-select-api placeholder="Chọn thông tin" [apiService]="posApi" formControlName="posCode"></input-select-api>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div class="col-md-3">
              <nz-form-item>
                <nz-form-label>Tìm theo ấn phẩm</nz-form-label>
                <nz-form-control [nzErrorTip]="controlErrorTpl">
                  <input-select-api placeholder="Chọn thông tin" [apiService]="dimReportManagePrinterCboApi" formControlName="reportManagerID"></input-select-api>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
          <hr class="mb-1 mt-1">
          <!-- <div class="row mb-2">
            <div class="col-md-9"></div>
            <div class="col-md-3">
              <nz-form-control [nzErrorTip]="controlErrorTpl">
                <input-text-search (keyup.enter)="onEnter()" placeholder="Nhập từ khóa tìm kiếm" formControlName="valueSearch">
                </input-text-search>
              </nz-form-control>
            </div>
          </div> -->
          <button type="submit" hidden>Tìm kiếm</button>
        </form>
      </div>
    </div>
  </div>
  <nz-table [nzData]="listOfData" [nzLoading]="isLoading" [nzBordered]="true" [nzFrontPagination]="false" nzSize="small"
    [nzScroll]="{ x: false }">
    <thead>
      <tr>
        <th nzWidth="40px" [nzChecked]="tableConfig.isAllChecked" [nzIndeterminate]="tableConfig.indeterminate"
          (nzCheckedChange)="tableConfig.onAllChecked($event,listOfData)"></th>
        <th>STT</th>
        <th>Mã bưu cục</th>
        <th>Ấn phẩm</th>
        <th>Tên máy in</th>
        <th class="text-center">IP</th>
        <th class="action text-center">Thao tác</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of listOfData;let i = index">
        <td [nzChecked]="tableConfig.itemSelected.has(item[tableConfig.keyId])"
          (nzCheckedChange)="tableConfig.onItemChecked(item[tableConfig.keyId], $event, listOfData)"></td>
        <td>
          {{ i + 1 + ((paging?.page - 1)*paging?.size)}}
        </td> 
        <td>
          <a class="data-link" href="javascript:;">
            {{item.posCodeName}}
          </a>
        </td>
        <td>
          {{item.reportManagerName}}
        </td>
        <td>
          {{item.printerName}}
        </td>
        <td class="text-center">
          {{item.ip}}
        </td>
        <td class="text-center">
          <div class="list-icons list-icons-extended text-center">
            <a class="list-icons-item" href="javascript:;" (click)="showDataDialog(item.printerID)">
              <span nz-tooltip nzTooltipTitle="Xem">
                <i nz-icon nzType="eye" nzTheme="outline"></i>
              </span>
            </a>
            <a class="list-icons-item text-primary" href="javascript:;" (click)="editDataDialog(item.printerID)">
              <span nz-tooltip nzTooltipTitle="Sửa">
                <i nz-icon nzType="form" nzTheme="outline"></i>
              </span>
            </a>
            <a class="list-icons-item text-danger" href="javascript:;" (click)="deleteData([item.printerID])">
              <span nz-tooltip nzTooltipTitle="Xóa">
                <i nz-icon nzType="delete" nzTheme="outline"></i>
              </span>
            </a>
          </div>
        </td>
      </tr>
    </tbody>
  </nz-table>
  <app-paging [data]="paging" (onChange)="getData($event)"></app-paging>
</div>
