<div class="row">
  <div class="col-md-12">
    <div class="page-header page-header-light border-bottom-0">
      <h4><span class="font-weight-semibold">Danh sách menu hệ thống</span></h4>
    </div>
    <hr class="mt-0 margin-bottom-10">
    <nz-table [nzData]="listMatrixData" [nzBordered]="true" [nzFrontPagination]="false" nzSize="small"
      [nzScroll]="{ x: '1000px' }">
      <thead>
        <tr>
          <th nzWidth="250px" nzLeft>Tên</th>
          <ng-container *ngFor="let taskItem of this.listOfTask">
            <th class="text-center" nzWidth="100px">{{taskItem.taskName}}</th>
          </ng-container>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let data of listMatrixData">
          <ng-container *ngFor="let item of tableTreeConfig.mapOfExpandedData[data[tableTreeConfig.keyId]]">
            <tr *ngIf="(item.parent && item.parent.expand) || !item.parent">
              <td [ngStyle]="{'padding-left': 5 +(item.level! * 20)+'px'}" nzLeft
                [nzShowExpand]="!!item.children && item.children.length >0" [(nzExpand)]="item.expand"
                (nzExpandChange)="tableTreeConfig.collapse(tableTreeConfig.mapOfExpandedData[data[tableTreeConfig.keyId]], item, $event)">
                {{ item.name }}
              </td>
              <ng-container *ngFor="let taskItem of this.listOfTask">
                <td *ngIf="item['task_'+taskItem.taskId] !== null" [nzChecked]="item['task_'+taskItem.taskId]"
                  (nzCheckedChange)="changeCheckedTask(item, taskItem.taskId)"></td>
                <td *ngIf="item['task_'+taskItem.taskId] === null"></td>
              </ng-container>
            </tr>
          </ng-container>
        </ng-container>
      </tbody>
    </nz-table>
  </div>
</div>

<div class="text-center mt-4">
  <button type="button" nz-button class="btn btn-light mr-2" (click)="closeDialog()">
    Đóng
  </button>
  <button type="button" nz-button class="btn btn-light mr-2" (click)="cancelForm()">
    Trở lại
  </button>
  <button type="submit" nz-button class="btn btn-primary mr-2" (click)="submitForm()">
    Tiếp tục
  </button>
</div>
