<form [formGroup]="formAdd" (ngSubmit)="handleOk()" (keydown.enter)="handleOk()">
  <p-dialog header="{{'title_modal_add_menu' | translate }}" [(visible)]="isVisibleAdd" modal="true" (onHide)="handleCancel()" [style]="{width: '50vw'}">
      <p-divider align="left"> <b>Thông tin cơ bản</b> </p-divider>
      <div class="p-fluid grid">
      <div class="p-field col-6 md-6">
        <span class="p-float-label">
          <!-- <input type="text" id="systemId" pInputText formControlName="systemId"/> -->
          <p-dropdown id="systemId" [options]="systems" formControlName="systemId" optionLabel="name" optionValue="id"
            [filter]="true" filterBy="name" [showClear]="true" placeholder="." (onChange)="onSystemChange()" autofocus></p-dropdown>
          <label for="systemId">{{'application' | translate }} <span style="color: red;">*</span> </label>
        </span>
        <div *ngIf="submitted && f.systemId.errors">
          <ng-container  *ngIf="f.systemId.errors.required">
            <p-tag styleClass="p-mr-2" severity="warning" value="{{'application' | translate }} {{'ms_validate_required' | translate }}" ></p-tag><br>
          </ng-container >
        </div>
      </div>
      <!-- --------------------------------------------------------------------->
      <div class="p-field col-6 md-6">
        <span class="p-float-label">
          <p-treeSelect id="parentId" formControlName="parentId" [options]="menusBySystem" ></p-treeSelect>
          <label for="parentId">{{'parentId' | translate }} </label>
        </span>
      </div>
      <!-- --------------------------------------------------------------------->
      <div class="p-field col-6 md-6">
        <span class="p-float-label">
            <input type="text" id="name" pInputText formControlName="name" />
            <label for="name">{{'name' | translate }} <span style="color: red;">*</span> </label>
        </span>
        <div *ngIf="submitted && f.name.errors">
          <ng-container  *ngIf="f.name.errors.required">
            <p-tag styleClass="p-mr-2" severity="warning" value="{{'name' | translate }} {{'ms_validate_required' | translate }}" ></p-tag><br>
          </ng-container >
        </div>
      </div>
      <!-- --------------------------------------------------------------------->
      <div class="p-field col-6 md-6">
        <span class="p-float-label">
          <input type="text" id="url" pInputText formControlName="url"/>
          <label for="url">{{'url' | translate }} </label>
        </span>        
      </div>
      <!-- --------------------------------------------------------------------->
      <div class="p-field col-6 md-6">
        <span class="p-float-label">
          <!-- <input type="text" id="roleId" pInputText formControlName="roleId"/> -->
          <p-dropdown id="roleId" [options]="rolesBySystem" formControlName="roleId" optionLabel="description" optionValue="roleId" [filter]="true" filterBy="description" [showClear]="true" placeholder="."></p-dropdown>
          <label for="roleId">{{'Role' | translate }} <span style="color: red;">*</span> </label>
        </span>
        <div *ngIf="submitted && f.roleId.errors">
          <ng-container  *ngIf="f.roleId.errors.required">
            <p-tag styleClass="p-mr-2" severity="warning" value="{{'roleId' | translate }} {{'ms_validate_required' | translate }}" ></p-tag><br>
          </ng-container >
        </div>
      </div>
      <!-- --------------------------------------------------------------------->
      <div class="p-field col-6 md-6">
        <span class="p-float-label">
            <!-- <input type="text" id="orderPriority" pInputText formControlName="orderPriority"/> -->
            <p-inputNumber id="orderPriority" formControlName="orderPriority" [showButtons]="true"></p-inputNumber>
            <label for="orderPriority">{{'orderPriority' | translate }} <span style="color: red;">*</span> </label>
        </span>
        <div *ngIf="submitted && f.orderPriority.errors">
          <ng-container  *ngIf="f.orderPriority.errors.required">
            <p-tag styleClass="p-mr-2" severity="warning" value="{{'orderPriority' | translate }} {{'ms_validate_required' | translate }}" ></p-tag><br>
          </ng-container >
        </div>
      </div>
      <!-- --------------------------------------------------------------------->
      <div class="p-field col-12 md-12">
        <span class="p-float-label">
            <!-- <input type="text" id="description" pInputText formControlName="description"/> -->
            <textarea id="description" formControlName="description" [rows]="10" pInputTextarea></textarea>
            <label for="description">{{'description' | translate }}</label>
        </span>
      </div>
      <!-- --------------------------------------------------------------------->
    </div>

    <ng-template pTemplate="footer">
      <p-button (click)="handleCancel()" label="{{'cancel' | translate }}" styleClass="p-button-warning"></p-button>
      <p-button (click)="handleOk()" label="{{'save' | translate }}" styleClass="p-button-success"></p-button>
    </ng-template>
  </p-dialog>
</form>
