<div class="page-header page-header-light">
  <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
    <div class="d-flex">
      <div class="breadcrumb">
        <a [routerLink]="['/']" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Trang chủ</a>
        <a href="javascript:;" class="breadcrumb-item">Example</a>
        <a href="javascript:;" class="breadcrumb-item">Quản lý</a>
        <span class="breadcrumb-item active">Form mẫu</span>
      </div>
    </div>
  </div>
</div>

<div class="page-header page-header-light border-bottom-0">
  <div class="page-header-content header-elements-md-inline">
    <div class="page-title d-flex">
      <h4><span class="font-weight-semibold">Quản lý dữ liệu</span></h4>
    </div>

    <div class="header-elements">
      <button type="button" class="btn btn-primary" (click)="getData()">
        <i class="mr-2 icon-search4"></i>Tìm kiếm
      </button>

      <button type="button" class="btn btn-primary" [disabled]="tableConfig.itemSelected.size === 0"
        (click)="printBarcode(tableConfig.getItemSelectedArray())">
        <i class="mr-2 icon-printer"></i>In Barcode
      </button>
    </div>
  </div>
</div>

<div class="content pt-0">
  <div class="header-elements-inline">
    <div class="navbar-expand-md w-100">
      <div class="padding-left-15 text-right d-md-none w-100 row">
        <button class="navbar-toggler" data-target="#search-list" data-toggle="collapse" type="button">
          <i nz-icon nzType="menu" nzTheme="outline"></i>
        </button>
      </div>
      <div class="navbar-collapse collapse" id="search-list">
        <form *ngIf="formSearch" [formGroup]="formSearch" class="w-100" (ngSubmit)="getData()" novalidate>
          <ng-template #controlErrorTpl let-control>
            <app-render-errors [control]="control"></app-render-errors>
          </ng-template>
          <div class="row ">
            <div class="col-md-3">
              <nz-form-item>
                <nz-form-label>Tim theo ten</nz-form-label>
                <nz-form-control [nzErrorTip]="controlErrorTpl">
                  <input-text-search placeholder="Nhập từ khóa tìm kiếm" formControlName="name">
                  </input-text-search>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
          <button type="submit" hidden>Tìm kiếm</button>
        </form>
      </div>
    </div>
  </div>
  <hr class="mt-0 margin-bottom-10">

  <nz-table [nzData]="listOfData" [nzLoading]="isLoading" [nzBordered]="true" [nzFrontPagination]="false" nzSize="small"
    [nzScroll]="{ x: false }">
    <thead>
      <tr>
        <th nzWidth="40px" [nzChecked]="tableConfig.isAllChecked" [nzIndeterminate]="tableConfig.indeterminate"
          (nzCheckedChange)="tableConfig.onAllChecked($event,listOfData)"></th>
        <th>Stt</th>
        <th>Mã</th>
        <th>Tên</th>
        <th class="action text-center">Thao tác</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of listOfData;let i = index">
        <td [nzChecked]="tableConfig.itemSelected.has(item[tableConfig.keyId])"
          (nzCheckedChange)="tableConfig.onItemChecked(item[tableConfig.keyId], $event, listOfData)"></td>
        <td>
          {{ i + 1 + ((paging.page - 1)*paging.size)}}
        </td>
        <td>
          {{item.id}}
        </td>
        <td>
          <a class="data-link" href="javascript:;">
            {{item.colText}}
          </a>
        </td>
        <td class="text-center">
          <div class="list-icons list-icons-extended text-center">
            <a class="list-icons-item text-danger" href="javascript:;" (click)="printBarcode([item.id])">
              <span nz-tooltip nzTooltipTitle="In barcode">
                <i class="icon-printer"></i>
              </span>
            </a>
          </div>
        </td>
      </tr>
    </tbody>
  </nz-table>
  <app-paging [data]="paging" (onChange)="getData($event)"></app-paging>

  <ng-container *ngIf="!!barCodeViewUrl">
    <iframe name="barCodeViewPrint" [hidden]="true" [src]="barCodeViewUrl | safeIframe"
      (load)="printBarcodeLoading()"></iframe>
  </ng-container>

</div>