<form [formGroup]="formUpdate" (ngSubmit)="handleOk()" (keydown.enter)="handleOk()">
  <p-dialog header="Cập nhật thông tin phân hệ" [(visible)]="isVisible" modal="true" (onHide)="handleCancel()" [style]="{width: '50vw'}">
      <p-divider align="left"> <b>Thông tin cơ bản</b> </p-divider>
      <div class="p-fluid grid">
      <div class="p-field col-6 md-6">
        <span class="p-float-label">
            <input type="text" id="email" pInputText formControlName="code" disabled/>
            <label for="code">Code <span style="color: red;">*</span> </label>
        </span>
      </div>
      <div class="p-field col-6 md-6">
        <span class="p-float-label">
            <input type="text" id="name" pInputText formControlName="name" autofocus />
            <label for="name">Tên <span style="color: red;">*</span></label>
        </span>
        <div *ngIf="submitted && f.name.errors">
          <ng-container  *ngIf="f.name.errors.required">
            <p-tag styleClass="p-mr-2" severity="warning" value="{{'name' | translate }} {{'ms_validate_required' | translate }}" ></p-tag><br>
          </ng-container >
          <ng-container  *ngIf="f.name.errors.minlength">
            <p-tag styleClass="p-mr-2" severity="warning" value="{{'name' | translate }} {{'ms_validate_more_characters_long' | translate }}" ></p-tag><br>
          </ng-container >
          <ng-container  *ngIf="f.name.errors.maxlength">
            <p-tag styleClass="p-mr-2" severity="warning" value="{{'name' | translate }} {{'ms_validate_less_characters_long' | translate }}" ></p-tag><br>
          </ng-container >
        </div>
      </div>
      <div class="p-field col-12 md-12">
        <span class="p-float-label">
            <!-- <input type="text" id="desciption" pInputText formControlName="desciption"/> -->
            <textarea id="description" formControlName="description" [rows]="10" pInputTextarea></textarea>
            <label for="description">Description</label>
        </span>
      </div>
    </div>
    <ng-template pTemplate="footer">
      <p-button (click)="handleCancel()" label="{{'cancel' | translate }}" styleClass="p-button-warning"></p-button>
      <p-button (click)="handleOk()" label="{{'save' | translate }}" styleClass="p-button-success"></p-button>
    </ng-template>
  </p-dialog>
</form>

